<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p>반갑습니다</p>
  <h1>h1</h1>
  <h2>h2</h2>
  <h3>h3</h3>
  <h4>h4</h4>
  <h5>h5</h5>
  <h6>h6</h6>
  <span>울산</span>
  <span>KH</span>
  <span>정보교육원</span>
  <div>영역1</div>
  <div>영역2</div>
  <div>영역3</div>
  <p>울산 KH 정보교육원</p>
  <p>울산<br>KH<br>정보교육원</p>
  <img src="https://cdn.pixabay.com/photo/2022/07/05/10/54/ocean-7302776_960_720.jpg" alt="" 
       width="100px">
  
</body>
</html>